.create-data-entry-helper-container{
    .p-inputtextarea {
        width: 100%;
      }
      .submit-button{
        margin-bottom: 2%;
        width: 100%;
    }
    .content-to-analyse{
        font-size: large;
    }
}
