<div class="create-batch-assessment">
    <div class="card title">
        <h4>Create Assessment Batch</h4>
    </div>
    <ng-container *ngIf="!batchUploaded">
        <div class="card">
            <p>PRODUCTS FORM:</p>
            <textarea rows="10" cols="90" [(ngModel)]="productForm" pInputTextarea>
            </textarea>
        </div>
        <pharmacopilote-file-upload (onFileUploaded)="onFileUploaded($event)"></pharmacopilote-file-upload>
        <div class="flex justify-content-end submit-button submit-files">
            <p-button (click)="submitFilesAndProductForm()" label="Submit" />
        </div>
    </ng-container>
</div>

<div *ngIf="assessmentBatch && reports" class="card">
    <p-table [value]="assessmentBatch" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>XML Reference</th>
                <th>Country</th>
                <th>Authority Reference</th>
                <th>Product Names</th>
                <th>Outcome</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-caseReport let-i="rowIndex">
            <tr>
                <td>{{ caseReport.fileName }}</td>
                <td>{{ caseReport.country?? 'Unknown' }}</td>
                <td>{{ caseReport.authorityReference?? 'Unknown' }}</td>
                <td>{{ caseReport.productName?? 'Unknown' }}</td>
                <td>{{ caseReport.outcome?? 'Unknown' }}</td>
                <td *ngIf="reports[i].status==buttonStatusEnum.LOADING">
                    <div class="flex justify-content-center">
                        <mat-spinner [diameter]="30"></mat-spinner>
                    </div>
                <td *ngIf="reports[i].status==buttonStatusEnum.LOADED">
                    <div class="flex justify-content-center">
                        <p-button icon="pi pi-file" (click)="showDialog(i)" [rounded]="true" [text]="true" [raised]="true" />
                    </div>
                </td>
                <td *ngIf="reports[i].status==buttonStatusEnum.NOT_CLICKED">
                    <p-button (click)="getReport(caseReport.id)" label="Analyse" [outlined]="true" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Report" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }">
    <span class="block mb-5">{{report}}</span>
    <div class="flex justify-content-end gap-2">
        <p-button label="Close" severity="secondary" (onClick)="visible = false" />
    </div>
</p-dialog>
