:host ::ng-deep .geek-spinner .p-progress-spinner-circle {
    animation: geek 8s ease-in-out infinite;
}

@keyframes geek {
  100%,
  0% {
        stroke: #d62d20;
  }
  40% {
        stroke: #d62d20;
  }
  66% {
        stroke: #d62d20;
  }
  80%,
  90% {
        stroke: #d62d20;
  }
}
