.create-batch-assessment {
    .title{
        height: 72px;
        display: flex;
        justify-content: center;
        margin-bottom: 1%;
    }
    .p-inputtextarea {
      width: 100%;
    }
    .p-inputwrapper{
        width: 100%;
    }
    .p-fieldset-legend {
        display: none;
    }
    .spinner{
        display: flex;
        justify-content: center;
    }
    .submit-files{
        margin-top: 2%;
        margin-bottom: 1%;
    }
  }
