<form [formGroup]="medicalAssessmentForm">
    <div class="quality-control">
        <div class="card title">
            <h4>New Quality Control</h4>
        </div>

        <div class="card">
            <p>ID :</p>
            <input type="text" formControlName="businessId" pInputText />
        </div>

        <div class="card">
            <p>VERBATIM:</p>
            <textarea rows="10" cols="90" formControlName="verbatim" pInputTextarea>
            </textarea>
        </div>

            <div class="card">
                <p>Case export file:</p>
                <pharmacopilote-file-upload formControlName="caseExportFile"></pharmacopilote-file-upload>
            </div>

        <div class="card">
            <p>RCP URL:</p>
            <input type="text" formControlName="rcpUrl" pInputText />
        </div>

        <div class="card">
            <p>REPORT:</p>
            <textarea rows="10" cols="90" formControlName="report" pInputTextarea>
            </textarea>
        </div> <!-- This div was missing the closing tag -->

        <div *ngIf="!showReportClicked" class="flex justify-content-end submit-button">
            <p-button (click)="submit()" label="Submit" />
        </div>

        <div *ngIf="showReportClicked" class="card">
            <p>Quality Control Report :</p>
            <p-fieldset>
                <div *ngIf="!displayReport; else showReport" class="spinner">
                    <p-progressSpinner ariaLabel="loading" />
                </div>
                <ng-template #showReport>
                    <div>
                        <p class="m-0">
                            {{ report }}
                        </p>
                    </div>
                </ng-template>
            </p-fieldset>
        </div>
    </div>
</form>
