.user-management-container li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-management-container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
