<div class="user-management-container">
    <p-tabView>
        <p-tabPanel header="User Management">
            <p>
                <app-user-list></app-user-list>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Group Management">
            <p>
                <app-group-management></app-group-management>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Role Management">
            <p>
                <app-roles-management></app-roles-management>
            </p>
        </p-tabPanel>
    </p-tabView>

</div>
