<form>
    <div class="card">
        <p-table [value]="groups" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Groupe</th>
                    <th>Permissions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-group let-i="rowIndex">
                <tr>
                    <td>{{ group.name }}</td>
                    <td>
                        <form>
                            <div *ngFor="let role of roles" class="field-checkbox">
                                <p-checkbox
                                    [(ngModel)]="groupRoles[i].selectedRoles"
                                    [label]="role.name"
                                    name="group"
                                    [value]="role" />
                            </div>
                        </form>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</form>
<div class="save-roles">
    <p-button (click)="save()" label="Enregirer"></p-button>
