<form [formGroup]="medicalAssessmentForm">
    <div class="create-medical-assessment">
        <div class="card title">
            <h4>New Medical Assessment</h4>
        </div>

        <div class="card">
            <p>ID :</p>
            <input type="text" formControlName="businessId" pInputText />
        </div>

        <div class="card">
            <p>Client Model :</p>
            <p-dropdown [options]="models" optionLabel="name" optionValue="id" placeholder="Select a Model" formControlName="modelId" />
        </div>

        <div class="card">
            <p>Method :</p>
            <p-dropdown [options]="methods" optionLabel="name" optionValue="value" placeholder="Select the Method" formControlName="isWho" />
        </div>

        <div class="card">
            <p>VERBATIM:</p>
            <textarea rows="10" cols="90" formControlName="verbatim" pInputTextarea>
        </textarea>
        </div>

        <div class="card">
            <p>Case export file:</p>
            <pharmacopilote-file-upload formControlName="caseExportFile"></pharmacopilote-file-upload>
        </div>

        <div class="card">
            <p>RCP URL:</p>
            <input type="text" formControlName="rcpUrl" pInputText />
        </div>

        <div *ngIf="!showReportClicked" class="flex justify-content-end submit-button">
            <p-button (click)="submit()" label="Submit" />
        </div>

        <div *ngIf="showReportClicked" class="card">
            <p>Report :</p>
            <p-fieldset>
                <div *ngIf="!displayReport; else showReport" class="spinner">
                    <p-progressSpinner ariaLabel="loading" />
                </div>
                <ng-template #showReport>
                    <div>
                        <div (click)="copyToClipboard(report)" class="copy-report flex justify-content-end">
                            <i
                            class="pi pi-fw pi-copy text-blue-500 mr-2"
                            style="vertical-align: center; font-size: 19px;"
                          ></i>
                        </div>
                        <p class="m-0 report-paragraph">
                            {{ report }}
                        </p>
                    </div>
                </ng-template>
            </p-fieldset>
        </div>

    </div>
</form>

